body{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(100deg, orange, blue);
    color: orange;
    text-shadow: 1px 1px white;
    padding: 10px;
}
#contagem{
    background: rgba(0,0,0,0.5);
    height: 400%;
    width: 270px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 5px orange;
}
button{
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}
#campoResposta{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 210px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}